@charset "UTF-8";


/* 共通部分------------------------------- */
html{
    font-size: 100%;
}
body{
    font-family: "Zen Maru Gothic",sans-serif;;
    line-height: 1.7;
    color: #000000;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* 共通部分終わり------------------------------- */


/* レイアウト */
.wrapper{
    max-width: 1100px;
    margin: auto;
    padding: 0 1.5rem;
}
.wrapper-footer{
    max-width: 85%;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center{
    text-align: center;
}






/* 見出し */
.page-title{    
    text-align: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 0.4rem 1.5rem;
    
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #231b00;
    border-radius: 0.7rem;
}
.page-overview{
    margin: 1rem auto 0;
    line-height: 2.5;
}
.heading-large{
    position: relative;
    text-align: center;
    font-size: 1.75rem;
    margin: 1rem auto 0;
    padding: auto;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    text-decoration-color: #000;
}
.heading-medium{
    font-size: 1.25rem;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}
.news-title{
    text-align: center;
    margin: 6rem auto 1rem;
}
.main-title{
    text-align: center;
    margin: 3rem auto 1rem;
}

/* 英文 */
.font-english{
    font-family: 'Chewy',sans-serif;
    font-weight: 200;
    color: #7f7f80;
}

/* ボタン */
.btn{
    display: inline-block;
    text-align: center;
    margin: 1rem auto 4rem;
    font-size: 1.4rem;
    background-color: #231b00;
    border: 3px solid #231b00;
    color: #fff;
    border-radius: 3rem;
    padding: 0.5rem 3rem;
    transition: 0.2s;
}
.btn:hover{
    color: #231b00;
    background-color: #FFFFFF;
}


/* ヘッダー */
.page-header{
    width: 100vw;
    height: 5.5rem;
    background-color: #f2d2ff;
    position: sticky;   /* ヘッダー固定 */
    top: 0;
    z-index: 40;
}
.page-header-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-top: 0.5rem;
    width: 200px;
    max-width: 100%;
    height: auto;
    order: 1;
}

/* デスクトップ時のメニュー */  
.main-nav {
  display: none;
  visibility: hidden;
  order: 2;
}

/* スマホ時のメニュー */
.mobile-header{
    visibility: visible;
}
    /* 非アクティブ */
.hmb{
/*     background-color: black; */
    padding-right: 75px;
    width: 3.7rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 30;
    order: 3;
}
.hmb span{
    width: 3.7rem;
    height: 0.2rem;
    display: block;
    background-color: #404040;
    position: absolute;
    transition: .2s;
}

.hmb span:first-child {top: 0;}
.hmb span:nth-child(2) {top: 1.5rem;}
.hmb span:last-child {top: 3rem;}

.mobile-nav {
    width: 80%;
    max-width: 375px;
    height: 100vh;

    position: fixed;
    top: 5.5rem;
    right: 0;

    padding: 2rem;
    background: linear-gradient(120deg, #d2e1ff, #f2d2ff);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition-property: all;
    transition-duration: .2s;
}
.mobile-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    list-style: none;
    text-align: left;
    padding-bottom: 15rem;
    font-size: 2rem;
    
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-color: #404040;
    text-decoration-thickness: 0.08rem;
}
.mobile-nav ul li{
    padding-bottom: 2rem;
}
.mobile-nav ul li a{
    color: #404040;
}

.mobile-nav ul li a:hover{
    color: #80aeff;
}
    
    /* アクティブ */
.active .hmb  span:first-child{
    top: 1.5rem;
    transform: rotate(45deg);
}
.active .hmb  span:nth-child(2){
    opacity: 0;
}
.active .hmb span:last-child{
    top: 1.5rem;
    transform: rotate(-45deg);
}
.active .mobile-nav{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.active::before{
    content: "";
    position: fixed;
    top: 5.5rem;
    right: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    z-index: 10;
}



/* FV設定 */
.fv-cover{
    top: 0;
    height: auto;
}
.anime-img{
    background-color: white;
    background-image: url(../images/fv_main_L.webp);
    background-size: cover;
    background-position: top;
    width: auto;
    height: 400px;
    z-index: 1;
}

/* fvアニメーション */
.anime-img{
  animation: slideIn 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
} 
@keyframes slideIn {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  60%,100% {
    opacity: 1;
  }
}

.fv-cover h2{
    padding-top: 5rem;
}

    /* スライダー */


.news-swiper {
    width: 100%;
    height: 13.5rem;
}
.main-swiper {
    width: 100%;
    height: 19rem;
}


.swiper-slide-news {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.swiper-slide-news a {
    display: block;
    margin-top: 1rem auto;
    width: 80%;
    height:80%;

}

.swiper-slide-main {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.swiper-slide-main a {
    display: block;
    margin-top: 1rem auto;
    width: 80%;
    height:80%;

}

/* 矢印の色 */
.swiper-button-prev,
.swiper-button-next {
    color: #bfbfbf;
    padding: 0.5rem;
    background-color: #404040;
    border-radius: 5rem;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #404040;
    background-color: #bfbfbf;
    transition: 0.2s;
}

/* ページ送りの色 */
.swiper-pagination-bullet {
    background-color: #404040;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

    /* メイン部分 */
.main-contents{
    background-image: url(../images/main_Liquid_S.svg);
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 30rem;
    display: inline-block;
    margin-bottom: 5rem;
    justify-content: center;
    text-align: center;
}

    /* ニュース一覧 */
.news-item{
    list-style: none;
    text-align: left;
    margin-bottom: 1rem;
}
.news-date{
    font-size: 0.75rem;
    padding-right: 0.5rem;
}
.news-item li{
    margin-bottom: 1rem;
    border-bottom: 1.5px 	dashed #bfbfbf;
}
.news-item a{
    color: #000000;
    display: block;
    padding: 0.5rem;
}
.news-item a:hover{
    color: #80aeff;
}


/* フッター */
    /* 背景 */
.page-footer{
    background-image: url(../images/Footer_Wave_S.svg);
    background-size: cover;
    background-position: top;
    padding-top: 1rem;
}
.footer-overview{
    font-size: 0.65rem;
}
    /* 文章 */
.footer-item h3, .footer-item th{
    text-align: left;
    padding-top: 1rem;
}
.info{
    display: flex;
    gap: 6rem;
    padding-top: 1rem;
}
.info1, .info2{
    border-left: 1.5px solid #000;        /* 誘導線横 */
}
.info1 th{
    white-space: nowrap;
}
.info th{
    padding: 0.25rem;
}
.info a{
    font-weight: 100;
    color: #000000;
}
.info a:hover{
    color: #80aeff;
}
.copyright{
    padding: 0 1.5rem;
    color: #7f7f80;
    padding-bottom: 1rem;
}

/* デスクトップ版 */
@media (min-width: 800px){

    .heading-medium{
        font-size: 2rem;
    }
    /* ヘッダー */
    .mobile-header{
        display: none;
        visibility: hidden;
        width: 0px;
        order: 2;
    }
    .main-nav{
        display: flex;
        gap: 2.5rem;
        visibility: visible;
        list-style: none;
        order: 3;
    }
    .main-nav a{
        color: #404040;
        font-size: 1.75rem;
    }
    .main-nav a:hover{
        color: #0bd;
    }

    /* ヘッダーカバー画像 */
    .sub-cover{
        height: 400px;
        margin-bottom: 6rem;
    }


    .anime-img{
        background-image: url(../images/fv_main_L.webp);
    }
    .news-contents,.menu-contents{
        display: flex;
        justify-content: space-between;
    }

    .post,.grid{
        width: 60%;
/*         order: 2; */
    }
    .news-menu{
        width: 30%;
        order: 1;
    }
    .news-menu .heading-medium{
        line-height: 1;
        margin-top: 1rem;
    }

    /* ボタン */
    .btn{
        font-size: 1.5rem;
    }
    /* フッター */
    .page-footer{
        background-image: url(../images/Footer_Wave_L.svg);
        padding-top: 2rem;
    }
    .wrapper-footer{
        max-width: 1000px;
    }
    .footer-overview{
        font-size: 1rem;
    }
    .footer-item{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
    .info{
        padding-top: 4rem;
    }
}